- content_for :page_title do
  = t('settings.preferences')

%ul.quick-nav
  %li= link_to t('preferences.languages'), '#settings_languages'
  %li= link_to t('preferences.publishing'), '#settings_publishing'
  %li= link_to t('preferences.other'), '#settings_other'
  %li= link_to t('preferences.web'), '#settings_web'
  %li= link_to 'Ads', '#settings_ads'
  %li= link_to t('settings.notifications'), settings_notifications_path

= simple_form_for current_user, url: settings_preferences_path, html: { method: :put } do |f|
  = render 'shared/error_messages', object: current_user

  .fields-row#settings_languages
    .fields-group.fields-row__column.fields-row__column-6
      = f.input :locale, collection: I18n.available_locales, wrapper: :with_label, include_blank: false, label_method: lambda { |locale| human_locale(locale) }, selected: I18n.locale
    .fields-group.fields-row__column.fields-row__column-6
      = f.input :setting_default_language, collection: [nil] + filterable_languages.sort, wrapper: :with_label, label_method: lambda { |locale| locale.nil? ? I18n.t('statuses.language_detection') : human_locale(locale) }, required: false, include_blank: false

  .fields-group
    = f.input :chosen_languages, collection: filterable_languages.sort, wrapper: :with_block_label, include_blank: false, label_method: lambda { |locale| human_locale(locale) }, required: false, as: :check_boxes, collection_wrapper_tag: 'ul', item_wrapper_tag: 'li'

  %hr#settings_publishing/

  .fields-group
    = f.input :setting_default_privacy, collection: Status.selectable_visibilities, wrapper: :with_floating_label, include_blank: false, label_method: lambda { |visibility| safe_join([I18n.t("statuses.visibilities.#{visibility}"), content_tag(:span, I18n.t("statuses.visibilities.#{visibility}_long"), class: 'hint')]) }, required: false, as: :radio_buttons, collection_wrapper_tag: 'ul', item_wrapper_tag: 'li'

    = f.input :setting_default_sensitive, as: :boolean, wrapper: :with_label

  %hr#settings_other/

  .fields-group
    = f.input :setting_noindex, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_hide_network, as: :boolean, wrapper: :with_label

  %hr#settings_web/

  .fields-row
    .fields-group.fields-row__column.fields-row__column-6
      = f.input :setting_display_media, collection: ['default', 'show_all', 'hide_all'], wrapper: :with_label, include_blank: false, label_method: lambda { |item| t("simple_form.hints.defaults.setting_display_media_#{item}") }, hint: false

  .fields-group
    = f.input :setting_unfollow_modal, as: :boolean, wrapper: :with_label
    = f.input :setting_boost_modal, as: :boolean, wrapper: :with_label
    = f.input :setting_delete_modal, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_aggregate_reblogs, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_auto_play_gif, as: :boolean, wrapper: :with_label
    = f.input :setting_expand_spoilers, as: :boolean, wrapper: :with_label
    = f.input :setting_group_in_home_feed, as: :boolean, wrapper: :with_label

  %hr#settings_ads/

  - if current_user.account.is_pro?
    .fields-group
      = f.input :setting_pro_wants_ads, as: :boolean, wrapper: :with_label
      - if current_user.account.is_pro_life?
        = f.input :setting_show_pro_life, as: :boolean, wrapper: :with_label
      
  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
